RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

ErrorDocument 403 /views/error/403.php

Options -Indexes

<Files .htaccess>
Order allow,deny
Deny from all
</Files>